settings.json
settings.cfg
node_modules/
.idea/
.idea/*
resources/simojs.sqlite
.tmp
build
redis-data/
lib/macros.js
simojs-data/
grafana_data/
influxdb_data/
ssh/id_rsa_nopasswd
*.swp
settings_pythonsimo.cfg
